.modal{
    position: fixed;
    top:0;
    left: 0;
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 3;
}
.modal-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 528px;
    width: 100%;
    max-height: 581px;
    height: 100%;
    background-color: var(--primary-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
.modal-close-button{
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: var(--primary-white-color);
    color: #000000;
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover,
.modal-close-button:focus{
    color: var(--accent-color);
}

.close-icon{
    width: 11px;
    height: 11px;
    fill: currentColor;
}

.modal-form{
    display: flex;
    flex-direction: column;
    padding: 40px;

}

.modal-title{
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;

    color: var(--title-text-color);
}
.modal-field{
    display: inline-block;
    margin-bottom: 10px;

}
.modal-label{
    display: inline-block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--text-color);
}
.modal-field-wrapper{
    position: relative;
}
.input-icon{
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-input{
    width: 100%;
    height: 40px;
    padding-left: 42px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus{
    border-color: var(--accent-color);
}
.input-icon{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .input-icon{
    fill: var(--accent-color);
}

.comment-area{
    padding: 12px 16px;
    height: 120px;
    resize: none;
}
.comment-area::placeholder{
    line-height: 1.14;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
}

.policy{
    display: flex;
    align-items: center;
    justify-content: center;

    line-height: 1.71;
}
.policy-link{
    color: var(--accent-color);
}

.checked-icon{
    border: 1px solid;
    border-color: var(--title-text-color);
    margin-right: 8px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-check:checked + .policy .checked-icon{
    background-color: var(--accent-color);
    border-color: var(--accent-color);
}
.modal-submit-button{
    width: 200px;
    height: 50px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.15);
}
.modal-submit-button:hover,
.modal-submit-button:focus{
    background-color: #188CE8;

}
.modal.is-hidden{
    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
